
        </div>
    </main>
    <!--Main layout-->
    <!--Footer-->
    <footer class="page-footer blue center-on-small-only unique-color-dark pt-0">



        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                Created by <a href="https://michaelhenry.me" target="_blank">Michael Henry</a> |
                <a href=https://lexmono.github.io/SALE/" target="_blank">SALE</a>
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->
    <!-- JQuery -->
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static "mdb/js/popper.min.js" %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "mdb/js/bootstrap.js" %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static "mdb/js/mdb.js" %}"></script>

    <!-- Carousel options -->
    <script>
        $('.carousel').carousel({
            interval: 3000,
        })
    </script>
</body>

</html>